#login-by-ip-assigned-users table td:nth-child(2),
#login-by-ip-assigned-users table td:nth-child(4) {
  word-break: break-all;
}
.ui-widget-overlay {
  z-index: 1000000;
}
.ui-dialog {
  z-index: 1000001 !important;
	font-size: 16px !important;
}
.ui-dialog-title {
	text-align: center;
}
.login-by-ip-logo {
	margin: 15px;
}
.login-by-ip-logo img {
	max-width: 238px;
	width: 100%;
}
#login-by-ip-assigned-users .row > .col-xs-12.col-sm-5 {
  float: left;
  width: 40%;
  margin-right: 15px;
}
#login-by-ip-assigned-users .row > .col-xs-12.col-sm-7 {
  float: left;
  width: 58%;
}
#session-limit-user-settings .form-item.form-type-textfield,
#session-limit-user-settings .form-item.form-type-radios {
  margin: 1em 0 2em 0 !important;
}
#session-limit-user-settings .form-item.form-type-textfield label {
  text-align: left !important;
  margin-bottom: 15px !important;
}
